#intro {
    height:100%;
}
.home {
  min-height: 100vh;

}
/* Scroller styling */
.scroller {
    height: 1.1em;
    line-height: 1.1em;
    position: relative;
    overflow: hidden;
    width: 4.6em;
    margin:0;
    display:inline-block;
    color:#A67B5C;
}
.scroller > span {
    position: absolute;
    top: 0;
    animation: slide 5s infinite;
  /*   font-weight: bold; */    
}

/* Content */
.face {
  height: 30vh;
}
.row {
  /* Full height */
  height: 1vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  margin-bottom: 0px;
  color: #A67B5C; /*d0592a;*/
  top:1em;
}
h6 {
  line-height: 1.75;
}
@keyframes slide {
    0% {
      top: 0;
    }
    25% {
      top: -1.1em;
    }
    50% {
      top: -2.2em;
    }
    75% {
      top: -3.3em;
    }
}