{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block home %}

<div class="row home" id="home">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="col s12 face"><img src="{{ url_for('static', filename='images/headshot.png') }}"></div>
    <!-- <img class="face" src="{{ url_for('static', filename='images/headshot.png') }}"> -->
    <h1 class="col s10 m6 offset-s1 offset-m3">
        hi! i'm alec.
    </h1>
    <br>
    <h6 class="col s10 m6 offset-s1 offset-m3">i'm
        <div class="scroller">
            <span>
            a robotics<br/>
            an AI/ML<br/>
            a software<br/>
            a Fil-Am<br />
            </span>
        </div>
        engineer.
    </h6>
    
    <br>
    
    <h6 class="col s10 m6 offset-s1 offset-m3">
        welcome to my personal website! here, i'm excited to present a collection of projects that reflect my passion for technology
        and innovation. this website serves as a repository where i can share my journey as an engineer and celebrate the curious and creative spirit that drives me. 
        whether you're a fellow enthusiast of technology or simply interested in witnessing the art of problem-solving in action, 
        i invite you to join me on this exploration. enjoy the ride!<br><br>
        <i>~this website was entirely designed and developed by me with some help from chat-gpt :)~</i>
    </h6>
</div>

{% endblock %}